sudo: false
dist: xenial
language: python

python:
  - "3.6"
  - "3.7"
  - "3.8"

notifications:
  email: false

before_install:
  - sudo apt-get update
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget http://repo.continuum.io/miniconda/Miniconda-3.8.3-Linux-x86_64.sh -O miniconda.sh;
    else
      wget http://repo.continuum.io/miniconda/Miniconda3-3.8.3-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda config --add channels pypi
  - conda info -a
  - deps='pip numpy scipy cython nose pytorch'
  - conda create -q -n test-environment "python=$TRAVIS_PYTHON_VERSION" $deps -c pytorch
  - source activate test-environment
  - pip install codecov flake8 'coverage==5.0.1'
  - pip install scikit-learn

install:
  - pip install -e ".[test]"

script:
  # Workaround for bandmat installation issue on python >= 3.7
  # see https://github.com/MattShannon/bandmat/issues/10
  - if [ "$TRAVIS_PYTHON_VERSION" == "3.7" -o "$TRAVIS_PYTHON_VERSION" == "3.8" ]; then
      nosetests --with-coverage --cover-package=nnmnkwii -v -w tests/ -a '!require_local_data,!modspec,!requires_bandmat' --ignore-files=test_autograd.py;
    else
      nosetests --with-coverage --cover-package=nnmnkwii -v -w tests/ -a '!require_local_data,!modspec';
    fi
  - flake8

after_success:
  - codecov
